@import "vars";
@import "libs";
@import "fonts";

/* --------- Common Styles --------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $main-color;
}

.dark {
  background-color: $light-grey;
}

.section {
  position: relative;
  padding: 25px 0 40px 0;
}

.container {
  margin: 0 auto;
  width: 1270px;
}

.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-weight: 700;
  color: $black;
  font-size: 17px;
  text-align: center;
}

/* --------- Header --------- */
.header-wrap {
  display: flex;
  align-items: center;
  height: 90px;
}

.header {
  height: 90px;
  position: relative;
  background-color: $light-grey;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $border-grey;
    position: absolute;
    bottom: 0;
    left: 0; 
  }
}

.menu {
  width: 55%;
  justify-content: space-around;
  margin-left: auto;
  li {
    position: relative;
    &::after {
      content: '';
      display: block;
      background: $grey;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      right: -45px;
      top: 5px;
    }
    &:last-child::after {
      display: none;
    }

    a {
      font-weight: 700;
      transition: color .25s ;

      &:hover {
        color: $black;
      }
    }
  }
}

.btn-translator {
  margin: 0 45px;
  border: none;
  outline: none;
  background: transparent;
  position: relative;
  cursor: pointer;
  width: 40px;
  &::before {
    content: '';
    display: block;
    border: 1px solid $grey;
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    left: -5px;
    top: -10px;
    transition: opacity .2s;
  }
  &:hover::before {
    opacity: 1;
  }
}

.btn-tours {
  background: $black;
  color: $white;
  font-weight: 700;
  padding: 7px 20px;
  margin-left: 30px;
  cursor: pointer;
  opacity: .6;
  &:hover {
    opacity: 1;
  }
}

/* --------- Main Tours --------- */
.main {
  color: $white;
}

.main_tours {
  height: 400px;
  display: grid;
  grid-template-areas: 
    "b b a"
    "b b a";
  gap: 5px;
}

.main_tour {
  height: 100%;
  position: relative;
  &.bg {
    background-size: 100%;
    transition: background-size .25s;
    &:hover {
      background-size: 105%;
    }
  }
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: background-color .25s;
  }
  &__btn {
    border: 2px solid $white;
    border-radius: 100px;
    padding: 10px 30px;
    font-weight: 700;
    color: $white;
    background: transparent;
    cursor: pointer;
    transition: background .25s, color .25s; 
    position: relative;
    z-index: 1;
    &:hover {
      background: $white;
      color: $main-color;
    }
  }

  &.big {
    grid-area: b;
    padding: 50px 0 20px 50px;
  }

  &.small {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    grid-area: auto;
  }
  &__title {
    position: relative;
    z-index: 1;
  }
}

.main_tour:hover::before {
  background-color: rgba(0, 0, 0, .01);
}

.main_tour.small .main_tour__title  {
  text-align: center;
  font-size: 25px;
  width: 100%;
}

.main_tour.big .main_tour__title {
  font-size: 58px;
  max-width: 650px;
  margin-bottom: 20px;
}

/* --------- Offers --------- */
.offers_cards {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-template-rows: 1fr;
  justify-content: space-between;
  justify-items: center;
  column-gap: 50px;
  &__item {
    text-align: center;
    background-color: $light-grey;
    padding: 25px 15px;
    width: 270px;
  }
}

.cards_item {
  &__icon {
    width: 100%;
    height: 36px;
    margin-bottom: 60px;
    position: relative;
    &::after {
      content: '';
      display: block;
      background: $grey;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -35px;
    }
  }
  h3 {
    font-size: 18px;
    color: $black;
    font-weight: 700;
    margin-top: auto;
  }
  &__description {
    color: $main-color;
    font-size: 15px;
    line-height: 23px;
  } 
}

.offers_cards__item:hover .cards_item__icon::after {
  background-color: $main-color;
}

/* --------- Popular Tours --------- */
.tours_list {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 620px);
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: space-between;
  gap: 40px 20px;
  color: $white;
  &__item {
    height: 424px;
    width: 620px;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    background-size: 100%;
    transition: background-size .25s;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .6);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      transition: background-color .25s;
    }
    h3 {
      position: relative;
      z-index: 1;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 0px;
    }
  }
}

.tours_list__item.bg:hover {
  background-size: 105%;
}

.tours_list__item:hover:before {
  background-color: rgba(0, 0, 0, .01);
}

.tours_item {
  &__intro p {
    font-size: 18px;
    position: relative;
    font-weight: 300;
    z-index: 1;
  }
  &__link {
    width: 160px;
    height: 40px;
    line-height: 40px;
    position: relative;
    z-index: 1;
    border-radius: 100px;
    border: 1px solid $white;
    font-weight: 700;
    color: $white;
    transition: background .25s, color .25s;
    &:hover {
      background-color: $white;
      color: $main-color;
    }
  }
  &__price {
    transition: opacity .25s;
    opacity: 0;
    position: absolute;
    overflow: 0;
    z-index: 1;
    top: 20px;
    right: 20px;
    padding-top: 25px;
    background: $light-grey;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    color: $main-color;
    font-size: 18px;
    font-weight: 700;
  }
}

.tours_list__item:hover .tours_item__price {
  opacity: 1;
}

/* --------- Section Subscribe --------- */
.subscribe_form {
  border: 1px solid $main-color;
  display: grid;
  grid-template-areas: "b . . a";
  padding: 20px 40px;
  column-gap: 100px;
  &__text {
    grid-area: b;
    color: $main-color;
    font-size: 28px;
    font-weight: 700;
  }
  &__btn {
    grid-area: a;
    background-color: $black;
    color: $white;
    font-size: 20px;
    outline: none;
    border: none;
    font-weight: 700;
    padding: 5px 40px;
    cursor: pointer;
    opacity: .6;
    &:hover {
      opacity: 1;
    }
  }
}

/* --------- Team Section --------- */
.team_list {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: space-between;
  column-gap: 40px;
  color: $main-color;
  &__lead {
    h3 {
      font-size: 17px;
      font-weight: 700;
      margin: 15px 0;
    }
  }
  .list_lead__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin: 20px auto;
  }
}

.list_lead_socials__item {
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}

/* --------- Reviews Section --------- */
.reviews-slider_item {
  width: 465px;
  &__avatar {
    width: 91px;
    height: 91px;
    border-radius: 50%;
    margin: 20px auto;
  }
  &__name {
    color: $black;
    font-size: 17px;
    font-weight: 700;
    &::after {
      width: 11px;
      height: 11px;
      background-color: $grey;
      content: '';
      display: block;
      border-radius: 50%;
      margin: 13px auto;
    }
  }
  &__date {
    font-size: 13px;
    font-weight: 700;
    color: $main-color;
    margin-bottom: 28px;
  }
  &__review {
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    color: $main-color;
  }
}

.reviews-slider_item:hover .reviews-slider_item__name::after {
  background-color: $main-color;
}

.reviews-slider_nav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.reviews-slider_nav button {
  outline: none;
  border: none;
  background-color: $border-grey;
  width: 32px;
  height: 3px;
}

.reviews-slider_nav button.tns-nav-active {
  background-color: $main-color;
}

.tns-outer {
  .tns-controls {
    display: none;
  }
  button {
    display: none;
  }
}

/* --------- Footer --------- */
.footer {
  background: $dark-grey;
  padding: 60px 0;
  color: $white;
  h2 {
    font-size: 30px;
    font-weight: 700;
  }
  &-menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
  }
  &-rights {
    text-align: center;
    margin-top: 80px;
    font-size: 14px;
  }
}

.footer-menu ul {
  margin-top: 17px;
  li {
    margin-bottom: 8px;
    a {
      color: $white;
      font-weight: 300;
      transition: color .25s;
      &:hover {
        color: $grey;
      }
    }
  }
}


@import "media";
