@import "vars";
@import "libs";
@import "fonts";

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $main-color;
}

.container {
  margin: 0 auto;
  width: 1270px;

}

.flex-container {
  display: flex;
}

/* --------- Header --------- */
.header {
  background-color: $light-grey;
  height: 90px;
}

.header .flex-container {
  align-items: center;
  height: 100%;
}

.header .menu {
  width: 55%;
  justify-content: space-around;
  margin-left: auto;
  li {
    position: relative;
    &::after {
      content: '';
      display: block;
      background: $grey;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      right: -45px;
      top: 5px;
    }
    &:last-child::after {
      display: none;
    }

    a {
      font-weight: 700;
      transition: color .25s ;

      &:hover {
        color: $black;
      }
    }
  }
}

.header .btn-translator {
  margin: 0 45px;
  border: none;
  outline: none;
  background: transparent;
  position: relative;
  cursor: pointer;
  width: 40px;
  &::before {
    content: '';
    display: block;
    border: 1px solid $grey;
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    left: -5px;
    top: -10px;
    transition: opacity .2s;
  }
  &:hover::before {
    opacity: 1;
  }
}

.btn-tours {
  background: $black;
  color: $white;
  font-weight: 700;
  padding: 7px 20px;
  margin-left: 30px;
  cursor: pointer;
}

/* --------- Footer --------- */
.footer {
  background: $dark-grey;
  padding: 60px 0;
  color: $white;
}

.footer-menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}

.footer h2 {
  font-size: 30px;
  font-weight: 700;
}

.footer-menu ul {
  margin-top: 17px;
  li {
    margin-bottom: 8px;
    a {
      color: $white;
      font-weight: 300;
      transition: color .25s;
      &:hover {
        color: $grey;
      }
    }
  }
}

.footer-rights {
  text-align: center;
  margin-top: 80px;
  font-size: 14px;
}


@import "media";
