/* --------- Min-Width 800px --------- */
@media (min-width: 800px) {
  // Footer
  .footer {
    padding: 60px 15px;
    h2 {
      font-size: 30px;
    }
    &-menus {
      flex-direction: row;
    }
    &-rights {
      margin-top: 80px;
    }
  }
}

/* --------- Min-Width 1000px --------- */
@media (min-width: 1000px) {
  .container {
    max-width: 1450px;
    padding: 0 5%;
  }

  .section {
    position: relative;
  }

  .title {
    margin: 55px 0;
  }

  .header-wrap {
    justify-content: space-between;
  }

  .logo {
    padding-left: 0;
  }

  // Menu
  .menu {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    li {
      width: auto;
      padding-right: 4%;
      &::after {
        content: '';
        display: block;
        background: $grey;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 35%;
      }
      &:last-child::after {
        display: none;
      }

      a {
        font-weight: 700;
        transition: color 0.25s;
        padding-left: 0;

        &:hover {
          color: $black;
          background-color: transparent;
        }

        &.choose-tour {
          display: none;
        }
      }
    }
  }

  .btn-translator-wrap {
    position: static;
  }

  .btn-tours {
    display: block;
    background: $black;
    color: $white;
    font-weight: 700;
    padding: 7px 20px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s;
    &:hover {
      opacity: 1;
    }
  }

  .nav-toggle {
    display: none;
  }

  // Main Tours
  .main_tours {
    height: 400px;
    grid-template-areas:
      'b b a'
      'b b a';
    gap: 5px;
    padding-top: 45px;
  }

  .main_tour {
    height: 100%;
    position: relative;
    &.bg {
      background-size: 100% 100%;
      transition: background-size 0.25s;
      &:hover {
        background-size: 105% 105%;
      }
    }
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      transition: background-color 0.25s;
    }
    &__btn {
      border: 2px solid $white;
      border-radius: 100px;
      padding: 10px 30px;
      font-weight: 700;
      color: $white;
      background: transparent;
      cursor: pointer;
      transition: background 0.25s, color 0.25s;
      position: relative;
      z-index: 1;
      &:hover {
        background: $white;
        color: $main-color;
      }
    }

    &.big {
      grid-area: b;
      padding: 50px 0 20px 50px;
    }

    &.small {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px 0;
      grid-area: auto;
    }

    &__title {
      position: relative;
      z-index: 1;
    }
  }

  .main_tour:hover::before {
    background-color: rgba(0, 0, 0, 0.01);
  }

  .main_tour.small .main_tour__title {
    text-align: center;
    font-size: 25px;
    width: 100%;
  }

  .main_tour.big .main_tour__title {
    font-size: 58px;
    max-width: 650px;
    margin-bottom: 20px;
  }

  // Popular Tours
  .tours_list {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    &__item {
      padding: 10px 40px;
      flex-wrap: wrap;
      background-size: 135%;
      h3 {
        font-size: 28px;
        margin-bottom: 0px;
      }
    }
  }

  .tours_list__item.bg:hover {
    background-size: 130%;
  }

  .tours_item {
    &__intro p {
      font-size: 18px;
    }
  }

  // Section Subscribe
  .subscribe_form {
    grid-template-areas: 'b a';
    align-items: center;
    padding: 20px 40px;
    margin: 0;
    gap: 100px;
    &__text {
      font-size: 21px;
    }
    &__btn {
      grid-area: a;
    }
  }

  // Team
  .team {
    h2 {
      padding-top: 55px;
    }
  }

  // Reviews Section
  .tns-outer {
    margin-top: 25px;
  }

  // Footer
  .footer {
    padding: 60px 0;
  }
}

/* --------- Min-Width 1100px --------- */
@media (min-width: 1100px) {
  .menu {
    li {
      padding-right: 5%;
    }
  }

  // Section Subscribe
  .subscribe_form {
    &__text {
      grid-area: b;
      color: $main-color;
      font-size: 28px;
      font-weight: 700;
    }
  }

  // Team Section
  .team_list {
    justify-content: space-between;
  }

  // Feedback
  .feedback {
    display: block;
  }
}

/* --------- Min-Width 1334px --------- */
@media (min-width: 1334px) {
  // Offers
  .offers_cards {
    justify-content: space-between;
    padding: 0;
  }
}

/* --------- Min-Width 1500px --------- */
@media (min-width: 1500px) {
  // Offers
  .offers_cards {
    flex-wrap: nowrap;
  }
}
