@import 'vars';
@import 'libs';
@import 'fonts';

/* --------- Common Styles --------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $main-color;
}

.dark {
  background-color: $light-grey;
}

.container {
  margin: 0 auto;
}

.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-weight: 700;
  color: $black;
  font-size: 17px;
  text-align: center;
  margin: 25px 0;
}

/* --------- Header --------- */
.header-wrap {
  display: flex;
  align-items: center;
  height: 90px;
}

.header {
  height: 90px;
  position: relative;
  background-color: $light-grey;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $border-grey;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.logo {
  padding-left: 5%;
}

// Translator Button
.btn-translator-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  .btn-translator {
    border: none;
    outline: none;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 40px;
    &::before {
      content: '';
      display: block;
      border: 1px solid $grey;
      width: 50px;
      height: 50px;
      position: absolute;
      opacity: 0;
      left: -5px;
      top: -10px;
      transition: opacity 0.2s;
    }
    &:hover::before {
      opacity: 1;
    }
  }
}

// Menu
.menu {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  background-color: $light-grey;
  height: auto;
  z-index: 2;
  li {
    position: relative;
    display: block;
    width: 100%;
    line-height: 40px;

    a {
      font-weight: 700;
      transition: color 0.25s;
      display: block;
      width: 100%;
      padding-left: 5%;

      &:hover {
        color: $black;
        background-color: $dark-grey;
      }
    }
  }
}

.btn-tours {
  display: none;
}

.menu.active {
  display: flex;
}

/* Nav-Toggle */
.nav-toggle {
  width: 30px;
  padding: 10px 0;
  display: block;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 24px;
  z-index: 1;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: $black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle__item::before,
.nav-toggle__item::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: $black;
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.nav-toggle__item::before {
  top: -8px;
}

.nav-toggle__item::after {
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(-45deg) translate(-7px, 17px);
  -ms-transform: rotate(-45deg) translate(-7px, 17px);
  transform: rotate(-45deg) translate(-7px, 17px);
}

.nav-toggle.active .nav-toggle__item::after {
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(45deg) translate(-10px, -20px);
  -ms-transform: rotate(45deg) translate(-10px, -20px);
  transform: rotate(45deg) translate(-10px, -20px);
}

/* --------- Main Tours --------- */
.main {
  color: $white;
}

.main_tours {
  height: 520px;
  display: grid;
  grid-template-areas:
    'a'
    'b'
    'c';
  gap: 5px;
  padding: 15px 15px 0;
}

.main_tour {
  height: 100%;
  position: relative;
  &.bg {
    background-size: 130%;
    transition: background-size 0.25s;
    &:hover {
      background-size: 120%;
    }
  }
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: background-color 0.25s;
  }
  &__btn {
    border: 2px solid $white;
    border-radius: 100px;
    padding: 10px 30px;
    font-weight: 700;
    color: $white;
    background: transparent;
    cursor: pointer;
    transition: background 0.25s, color 0.25s;
    position: relative;
    z-index: 1;
    &:hover {
      background: $white;
      color: $main-color;
    }
  }

  &.big {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }

  &.small {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }

  &__title {
    position: relative;
    z-index: 1;
  }
}

.main_tour:hover::before {
  background-color: rgba(0, 0, 0, 0.01);
}

.main_tour.big .main_tour__title {
  text-align: center;
  font-size: 35px;
  width: 100%;
}

.main_tour.small .main_tour__title {
  text-align: center;
  font-size: 25px;
  width: 100%;
}

/* --------- Offers --------- */
.offers_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 0 15px;
  &__item {
    text-align: center;
    background-color: $light-grey;
    padding: 25px 15px;
    width: 270px;
  }
}

.cards_item {
  &__icon {
    width: 100%;
    height: 36px;
    margin-bottom: 60px;
    position: relative;
    &::after {
      content: '';
      display: block;
      background: $grey;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -35px;
    }
  }
  h3 {
    font-size: 18px;
    color: $black;
    font-weight: 700;
    margin-top: auto;
  }
  &__description {
    color: $main-color;
    font-size: 15px;
    line-height: 23px;
  }
}

.offers_cards__item:hover .cards_item__icon::after {
  background-color: $main-color;
}

/* --------- Popular Tours --------- */
.tours_list {
  color: $white;
  margin-top: 25px;
  display: grid;
  grid-template-areas:
    'a'
    'b'
    'c'
    'd';
  justify-items: center;
  align-items: center;
  gap: 15px;
  padding: 0 15px;
  &__item {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-size: 210%;
    transition: background-size 0.25s;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      transition: background-color 0.25s;
    }
    h3 {
      position: relative;
      z-index: 1;
      font-size: 22px;
      font-weight: 700;
    }
  }
}

.tours_list__item.bg:hover {
  background-size: 205%;
}

.tours_list__item:hover:before {
  background-color: rgba(0, 0, 0, 0.01);
}

.tours_item {
  &__intro p {
    font-size: 16px;
    position: relative;
    font-weight: 300;
    z-index: 1;
  }
  &__link {
    width: 160px;
    height: 40px;
    line-height: 40px;
    position: relative;
    z-index: 1;
    border-radius: 100px;
    border: 1px solid $white;
    font-weight: 700;
    color: $white;
    transition: background 0.25s, color 0.25s;
    &:hover {
      background-color: $white;
      color: $main-color;
    }
  }
  &__price {
    transition: opacity 0.25s;
    opacity: 0;
    position: absolute;
    overflow: 0;
    z-index: 1;
    top: 20px;
    right: 20px;
    padding-top: 25px;
    background: $light-grey;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    color: $main-color;
    font-size: 18px;
    font-weight: 700;
  }
}

.tours_list__item:hover .tours_item__price {
  opacity: 1;
}

/* --------- Section Subscribe --------- */
.subscribe_form {
  max-height: 270px;
  display: grid;
  justify-items: center;
  grid-template-areas:
    'b'
    'a';
  padding: 20px 15px;
  margin: 15px;
  gap: 15%;
  &__text {
    grid-area: b;
    color: $main-color;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
  }
  &__btn {
    height: 66px;
    background-color: $black;
    color: $white;
    font-size: 20px;
    outline: none;
    border: none;
    font-weight: 700;
    padding: 5px 40px;
    cursor: pointer;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}

/* --------- Team Section --------- */
.team {
  padding-bottom: 15px;
  h2 {
    padding-top: 25px;
  }
}
.team_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  color: $main-color;
  &__lead {
    height: 440px;
    h3 {
      font-size: 17px;
      font-weight: 700;
      margin: 15px 0;
      text-align: center;
    }
    &:hover .list_lead__socials {
      border-top: 1px solid $team-border;
      padding-top: 20px;
    }
  }
  .list_lead__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin: 20px auto;
    transition: padding 0.2s;
  }
}

.list_lead_socials__item {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

/* --------- Reviews Section --------- */
.reviews-slider_item {
  width: 465px;
  &__avatar {
    width: 91px;
    height: 91px;
    border-radius: 50%;
    margin: 20px auto;
  }
  &__name {
    color: $black;
    font-size: 17px;
    font-weight: 700;
    &::after {
      width: 11px;
      height: 11px;
      background-color: $grey;
      content: '';
      display: block;
      border-radius: 50%;
      margin: 13px auto;
    }
  }
  &__date {
    font-size: 13px;
    font-weight: 700;
    color: $main-color;
    margin-bottom: 28px;
  }
  &__review {
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    color: $main-color;
  }
}

.reviews-slider_item:hover .reviews-slider_item__name::after {
  background-color: $main-color;
}

.reviews-slider_nav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.reviews-slider_nav button {
  outline: none;
  border: none;
  background-color: $border-grey;
  width: 32px;
  height: 3px;
}

.reviews-slider_nav button.tns-nav-active {
  background-color: $main-color;
}

.tns-outer {
  margin-top: 5px;
  .tns-controls {
    display: none;
  }
  button {
    display: none;
  }
}

/* --------- Footer --------- */
.footer {
  background: $dark-grey;
  padding: 30px 15px;
  color: $white;
  text-align: center;
  h2 {
    font-size: 20px;
    font-weight: 700;
  }
  &-menus {
    display: flex;
    flex-direction: column;
  }
  &-rights {
    margin-top: 40px;
    font-size: 14px;
  }
}

.footer-menu {
  flex-basis: 50%;
}

.footer-menu ul {
  margin-top: 17px;
  li {
    margin-bottom: 8px;
    a {
      color: $white;
      font-weight: 300;
      transition: color 0.25s;
      &:hover {
        color: $grey;
      }
    }
  }
}

/* --------- Feedback --------- */
.feedback {
  display: none;
  line-height: 4;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: $feedback-bg;
  font-weight: 700;
  color: $black;
  a {
    display: block;
    padding: 40px 0;
    transition: color 0.2s, background-color 0.2s;
    &:hover {
      color: $white;
      background-color: $black;
    }
  }
}

@import 'media';
