@import "vars";
@import "libs";
@import "fonts";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $main-color;
}

.s-dark {
  background-color: $light-grey;
}

.section {
  position: relative;
  padding: 25px 0 40px 0;
}

.container {
  margin: 0 auto;
  width: 1270px;

}

.flex-container {
  display: flex;
}

.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.s-title {
  font-weight: 700;
  color: $black;
  font-size: 17px;
  text-align: center;
}

/* --------- Header --------- */
.header {
  background-color: $light-grey;
  height: 90px;
  position: relative;
}

.header::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: $border-grey;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header .flex-container {
  align-items: center;
  height: 100%;
}

.header .menu {
  width: 55%;
  justify-content: space-around;
  margin-left: auto;
  li {
    position: relative;
    &::after {
      content: '';
      display: block;
      background: $grey;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      right: -45px;
      top: 5px;
    }
    &:last-child::after {
      display: none;
    }

    a {
      font-weight: 700;
      transition: color .25s ;

      &:hover {
        color: $black;
      }
    }
  }
}

.header .btn-translator {
  margin: 0 45px;
  border: none;
  outline: none;
  background: transparent;
  position: relative;
  cursor: pointer;
  width: 40px;
  &::before {
    content: '';
    display: block;
    border: 1px solid $grey;
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    left: -5px;
    top: -10px;
    transition: opacity .2s;
  }
  &:hover::before {
    opacity: 1;
  }
}

.btn-tours {
  background: $black;
  color: $white;
  font-weight: 700;
  padding: 7px 20px;
  margin-left: 30px;
  cursor: pointer;
}

/* --------- Main Tours --------- */
.s-main {
  color: $white;
}

// .s-main_tour::after,
// .s-tours::after {
//   content: '';
//   display: block;
//   width: 100%;
//   height: 1px;
//   background-color: $border-grey;
//   position: absolute;
//   bottom: -10px;
//   left: 0;
// }

.s-main_tours {
  height: 400px;
  display: grid;
  grid-template-areas: 
    "b b a"
    "b b a";
  gap: 5px;
}

.s-main_tour {
  height: 100%;
  position: relative;
}

.s-main_tour:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: background-color .25s;
}

.s-main_tour.bg {
  background-size: 100%;
  transition: background-size .25s;
}

.s-main_tour.bg:hover {
  background-size: 105%;
}

.s-main_tour:hover:before {
  background-color: rgba(0, 0, 0, .01);
}

.s-main_tour.big {
  grid-area: b;
  padding: 50px 0 20px 50px;
}

.s-main_tour.small {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.s-main_tour .s-main_tour__btn {
  border: 2px solid $white;
  border-radius: 100px;
  padding: 10px 30px;
  font-weight: 700;
  color: $white;
  background: transparent;
  cursor: pointer;
  transition: background .25s, color .25s; 
  position: relative;
  z-index: 1;
}

.s-main_tour .s-main_tour__btn:hover {
  background: $white;
  color: $white;
}

.s-main_tour .s-main_tour__title  {
  position: relative;
  z-index: 1;
}

.s-main_tour.small .s-main_tour__title  {
  text-align: center;
  font-size: 25px;
  width: 100%;
}

.s-main_tour.big .s-main_tour__title {
  font-size: 58px;
  max-width: 650px;
  margin-bottom: 20px;
}

.s-main_tour.small {
  grid-area: auto;
}

/* --------- Section Offers --------- */
.s-offers_cards {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-template-rows: 1fr;
  justify-content: space-between;
  justify-items: center;
  column-gap: 50px;
}

.s-offers_cards .s-offers_cards__item {
  text-align: center;
  background-color: $light-grey;
  padding: 25px 15px;
  width: 270px;
}

.s-offers_cards .s-offers_cards__item:hover .cards_item__icon::after {
  background-color: $main-color;
}

.s-offers_cards .s-offers_cards__item .cards_item__icon {
  width: 100%;
  height: 36px;
  margin-bottom: 60px;
  position: relative;
}

.s-offers_cards .s-offers_cards__item .cards_item__icon::after {
  content: '';
  display: block;
  background: $grey;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -35px;
}

.s-offers_cards .s-offers_cards__item h3 {
  font-size: 18px;
  color: $black;
  font-weight: 700;
  margin-top: auto;
}

.s-offers_cards .s-offers_cards__item .cards_item__description {
  color: $main-color;
  font-size: 15px;
  line-height: 23px;
} 

/* --------- Section Tours --------- */
.s-tours_list {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 620px);
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: space-between;
  gap: 40px 20px;
  color: $white;
}

.s-tours_list__item {
  height: 424px;
  width: 620px;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
}

.s-tours_list__item:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: background-color .25s;
}

.s-tours_list__item h3 {
  position: relative;
  z-index: 1;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0px;
}

.s-tours_list__item .s-tours_item__intro p {
  font-size: 18px;
  position: relative;
  font-weight: 300;
  z-index: 1;
}

.s-tours_list__item .s-tours_item__link {
  width: 160px;
  height: 40px;
  line-height: 40px;
  position: relative;
  z-index: 1;
  border-radius: 100px;
  border: 1px solid $white;
  font-weight: 700;
  color: $white;
  transition: background .25s, color .25s;
}

.s-tours_list__item .s-tours_item__link:hover {
  background-color: $white;
  color: $main-color;
}

.s-tours_list__item:hover .s-tours_item__price {
  opacity: 1;
}

.s-tours_item__price {
  transition: opacity .25s;
  opacity: 0;
  position: absolute;
  overflow: 0;
  z-index: 1;
  top: 20px;
  right: 20px;
  padding-top: 25px;
  background: $light-grey;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  text-align: center;
  color: $main-color;
  font-size: 18px;
  font-weight: 700;
}

/* --------- Section Subscribe --------- */
.s-subscribe_form {
  border: 1px solid $main-color;
  display: grid;
  grid-template-areas: "b . . a";
  padding: 20px 40px;
  column-gap: 100px;
}

.s-subscribe_form .s-subscribe_form__text {
  grid-area: b;
  color: $main-color;
  font-size: 28px;
  font-weight: 700;
}

.s-subscribe_form .s-subscribe_form__btn {
  grid-area: a;
  background-color: $black;
  color: $white;
  font-size: 20px;
  outline: none;
  border: none;
  font-weight: 700;
  padding: 5px 40px;
  cursor: pointer;
}

/* --------- Footer --------- */
.footer {
  background: $dark-grey;
  padding: 60px 0;
  color: $white;
}

.footer-menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}

.footer h2 {
  font-size: 30px;
  font-weight: 700;
}

.footer-menu ul {
  margin-top: 17px;
  li {
    margin-bottom: 8px;
    a {
      color: $white;
      font-weight: 300;
      transition: color .25s;
      &:hover {
        color: $grey;
      }
    }
  }
}

.footer-rights {
  text-align: center;
  margin-top: 80px;
  font-size: 14px;
}


@import "media";
