- var menus = [{title: "Наши услуги", items: ["Туры", "Трансфер", "Визовая поддержка", "Отели"]},{title: "О нас", items: ["Цены", "Контакты", "Политика конфиденциальности"]}]

footer.footer 
  .footer-menus
    each obj in menus
      .footer-menu
        h2= obj.title
        ul
          each item in obj.items
            li
              a(href="/")= item
    .footer-menu
      h2 Связаться с нами
      ul
        li 
          a(href="https://google.com") str Lenina 21, Belarus
        li 
          a(href="mailto:bison@gmail.com") bison@gmail.com
        li 
          a(href="tel: +732 33 283 11 22") +732 33 283 11 22
