header.header
  .container.header-wrap
    .logo
      a(href="/home.html") 
        img(src="img/logo.png", alt="Bison")
    ul.menu.header-wrap#nav
      li
        a(href="/tour.html") Туры
      li
        a(href="/") Достопримечательности
      li
        a(href="/") Фото
      li
        a(href="/") О нас
      li
        a(href="/").choose-tour Выбрать тур
    .btn-translator-wrap
      button.btn-translator
        img(src="img/translator.svg", alt="Translator")
    a(href="/").btn-tours Выбрать тур
    button(class="nav-toggle" id="nav_toggle" type="button")
      span.nav-toggle__item Menu
