header.header
  .container.flex-container
    .logo
      a(href="/home.html") 
        img(src="../img/logo.png", alt="Bison")
    ul.menu.flex-container
      li
        a(href="/tour.html") Туры
      li
        a(href="/") Достопримечательности
      li
        a(href="/") Фото
      li
        a(href="/") О нас
    button.btn-translator
      img(src="../img/translator.svg", alt="Translator")
    .btn-tours Выбрать тур
